<hero-sub-page [subPageImage]="headlineImage"></hero-sub-page>
<action-bar-block [isHomePage] = "false" [heading]="'In the media'"></action-bar-block>
<section class="in-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Wondering what The Meatball Stoppe is really all about? Don’t take it from us– Orlando’s Favorite Meatballs… in the news!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <figure>
                    <img src="/assets/images/orlando.png" alt="image">
                </figure>
                <span class="description">
                    “From  the moment I walked into The Meatball Stoppe, owner Isabella Morgia di Vicari made me feet at home with her hug and exuberant personality.” <a href="#">link</a>
                </span>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <figure>
                    <img src="/assets/images/life.png" alt="image">
                </figure>
                <span class="description">
                    “Whether you’re stopping in for a meal or inquiring about The Meatball Stoppe’s niche services, you will be welcomed with open arms into the meatball famiglia.” <a href="#">link</a>
                </span>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <figure>
                    <img src="/assets/images/wesh2.png" alt="image" style="width: auto">
                </figure>
                <span class="description">
                    “Together, they bring the best of both worlds, to serve an authentic Italian cuisine in a family-style dining experience.” <a href="#">link</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <figure>
                    <img src="/assets/images/chomps.png" alt="image">
                </figure>
                <span class="description">
                    Homemade meatballs are hard to come by. Meatballs are prepared to the highest quality of freshness at Meatball Stoppe.” <a href="#">link</a>
                </span>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <figure>
                    <img src="/assets/images/OrlandoMagazine.png" alt="image">
                </figure>
                <span class="description">
                    “A husband and wife bring family and food together, Italian-style, and their customers eat it up.” <a href="#">link</a>
                </span>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <figure>
                    <img src="/assets/images/entertaining.png" alt="image">
                </figure>
                <span class="description">
                   “I also got the chance to sample their vegetarian and chicken Marsala meatballs, both of which were outstanding.” <a href="#">link</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <p class="archive">Even more <a href="#">in the archives</a></p>
            </div>
        </div>
    </div>
</section>

<section class="video-about">
    <div class="bg-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="video-container">
                        <iframe src="http://www.youtube.com/embed/COP-i-g-CRo?modestbranding=1&rel=0&showinfo=0&theme=light&color=white" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col-md-5">
                    <h1>Take a look inside<br> with Fox35 </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video-about">
    <div class="bg-wrapper lesson">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>...or catch a cooking lesson with Chef Isabella</h1>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="video-container bottom">
                        <iframe  src="http://www.youtube.com/embed/sDuV_o9hrkw?modestbranding=1&rel=0&showinfo=0&theme=light&color=white" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="in-youtube">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <p>
                    Lessons, features, and <a href="#">lots more on YouTube</a>
                </p>
            </div>
        </div>
    </div>
</footer>