<hero-sub-page></hero-sub-page>
<action-bar-block [isHomePage] = "false" [heading]="'In the media'"></action-bar-block>
<sub-page-container [topic] = "'<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto provident dignissimos temporibus qui minus quam autem doloremque at illo odio maxime laboriosam nesciunt voluptas excepturi rem porro error, praesentium quasi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto provident dignissimos temporibus qui minus quam autem doloremque at illo odio maxime laboriosam nesciunt voluptas excepturi rem porro error, praesentium quasi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto provident dignissimos temporibus qui minus quam autem doloremque at illo odio maxime laboriosam nesciunt voluptas excepturi rem porro error, praesentium quasi!</p>'"></sub-page-container>
