<hero-sub-page [subPageImage]="headlineImage"></hero-sub-page>
<action-bar-block [isHomePage] = "false" [heading]="'In the media'"></action-bar-block>

<div class="DDD"></div>

<section class="in-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Wondering what The Meatball Stoppe is really all about? Don’t take it from us– Orlando’s Favorite Meatballs… in the news!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
                <figure>
                    <img src="/assets/images/orlando.png" alt="image">
                </figure>
                <span class="description">
                    “From  the moment I walked into The Meatball Stoppe, owner Isabella Morgia di Vicari made me feet at home with her hug and exuberant personality.” <a target="_blank" href="http://www.orlandosentinel.com/entertainment/restaurants/foodie/os-more-than-just-meatballs-at-the-meatball-stoppe-20160503-story.html">link</a>
                </span>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-1">
                <figure>
                    <img src="/assets/images/realradio.png" alt="image" style="max-width:50%;">
                </figure>
                <span class="description">
                  "The chicken meatball, buffalo style, balanced with blue cheese on top––that with the white-bean ragout is crazy killer."
                  <audio src="/assets/other/PrimetimeKitchenInterview.mp3" type="audio/mpeg3" controls></audio>
                </span>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-1">
                <figure>
                    <img src="/assets/images/10best.jpg" alt="image">
                </figure>
                <span class="description">
                   “Orlando's #1 ranked most family-friendly restaurant and #7 best value in USA Today's travel guide.” <a target="_blank" href="http://www.10best.com/destinations/florida/orlando/restaurants/family-friendly/">link</a>
                </span>
            </div>
            <div class="clearfix visible-md-block visible-lg-block"></div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
                <figure>
                    <img src="/assets/images/chomps.png" alt="image">
                </figure>
                <span class="description">
                    “Homemade meatballs are hard to come by. Meatballs are prepared to the highest quality of freshness at Meatball Stoppe.” <a target="_blank" href="http://tastychomps.com/2016/05/inside-look-at-the-meatball-stoppe.html">link</a>
                </span>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-1">
                <figure>
                    <img src="/assets/images/life.png" alt="image">
                </figure>
                <span class="description">
                    “Whether you’re stopping in for a meal or inquiring about The Meatball Stoppe’s niche services, you will be welcomed with open arms into the meatball famiglia.” <a target="_blank" href="http://www.centralfloridalifestyle.com/foodie/the-meatball-stoppe-is-on-a-roll/">link</a>
                </span>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-1">
                <figure>
                    <img src="/assets/images/wesh2.png" alt="image" style="max-width:65%;">
                </figure>
                <span class="description">
                    “Together, they bring the best of both worlds, to serve an authentic Italian cuisine in a family-style dining experience.” <a target="_blank" href="http://www.wesh.com/article/the-meatball-shoppe-home-of-non-traditional-traditional-italian-cuisine/4443066">link</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-6">
              <p class="archive"></p>
              <!-- <p class="archive">Even more <a href="#">in the archives</a></p> -->
            </div>
        </div>
    </div>
</section>

<section class="video-about">
    <div class="bg-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <h1>Take a look inside<br> with Fox35 </h1>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/COP-i-g-CRo?modestbranding=1&rel=0&showinfo=0&theme=light&color=white" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video-about">
    <div class="bg-wrapper lesson">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>...or catch a cooking class with Chef Isabella</h1>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="video-container bottom">
                        <iframe  src="https://www.youtube.com/embed/G1ZOR20ySPo?modestbranding=1&rel=0&showinfo=0&theme=light&color=white&start=40" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="in-youtube">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Lessons, features, and <a target="_blank" href="https://www.youtube.com/channel/UCQ0FlyVxpwpbN5GWUHd_ENg">lots more on YouTube</a>
                </p>
            </div>
        </div>
    </div>
</footer>
