<!-- Header Start Here -->
    <header id="header">

<router-outlet></router-outlet>
    	
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="small-logo-container hidden-lg hidden-md hidden-sm">
                    <a href="/"><img src="assets/images/logo.png"  width="100" alt="MeatBall"/></a>
                </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                   <div class="row">
                        <div class="col-xs-12 col-sm-5  first ">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Menus</a></li>
                                <li><a href="#">Catering</a></li>
                            </ul>

                        </div>
                        <div class="col-xs-12 col-sm-2 logo-container hidden-xs p-0">
                            <div class="logo">
                                <a href="#"><img src="assets/images/logo.png" width="160" alt="MeatBall"/></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 last">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="#" >About Us</a></li>
                                <li><a href="#" >Media</a></li>
                            </ul>
                        </div>
                    </div> 
                  
                </div><!--/.nav-collapse -->
            </div>
        </nav>
           
    </header>
    <!-- End -->

    <!-- Head Section Start Here -->
    <section class="head-block-shad">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5  first ">7325 Lake Underhill Road</div>
                <div class="col-xs-12 col-sm-2 hidden-xs"></div>
                <div class="col-xs-12 col-sm-5  last">407-270-6505</div>
            </div>
        </div>    
    </section> 
    <!-- End -->

    <hero-block></hero-block>

    <action-bar-block></action-bar-block>

    <!-- Socail  Section Start Here -->
    <section class="social-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 social-block">
                    <p>Stay in the loop with what’s going on at the Stoppe! Latest social post:</p>
                    <h4>Connect with us!</h4>
                    <ul>
                        <li><a href="#"><img src="assets/images/facebook.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="assets/images/twitter.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="assets/images/instagram.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="assets/images/yelp.png" class="img-responsive"></a></li>
                    </ul>

                </div>
                <div class="col-xs-12 col-md-6 ">
                    <div class="ads-block">
                        <img src="assets/images/ads.jpg" class="img-responsive"/>
                        <div class="content-block">
                            <p class="title">7.95 Baked Ziti Wednesdavs Every Wednesday</p>
                            <p class="links"><a href="#" class="btn like"> Like</a> <a href="#"><img src="assets/images/social-facebook-square2.png"/></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>    
    <!-- End -->
    
    <!-- Our Menu Section Start Here -->
    <section class="our-menu-container">
        <div class="our-menu-head"><h1>Our Menu</h1></div>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#all">All</a></li>
                <li><a data-toggle="tab" href="#breakfast">Breakfast</a></li>
                <li><a data-toggle="tab" href="#lunches">Lunches</a></li>
                <li><a data-toggle="tab" href="#dinners">Dinners</a></li>
                <li><a data-toggle="tab" href="#desserts">Desserts</a></li>
                <li><a data-toggle="tab" href="#drinks">Drinks</a></li>
            </ul>

            <div class="tab-content">
                <div id="all" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22.00</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">old timer's breakfast...$22</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                    </div>
                </div>
                <div id="breakfast" class="tab-pane fade">
                  <h3>Breakfast</h3>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="lunches" class="tab-pane fade">
                  <h3>Lunches</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="dinners" class="tab-pane fade">
                  <h3>Dinners</h3>
                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div id="desserts" class="tab-pane fade">
                  <h3>Desserts</h3>
                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div id="drinks" class="tab-pane fade">
                  <h3>Drinks</h3>
                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->

    <!-- What they Are Saying Section Start Here -->
    <section class="what-they-are-saying-container">
        <div class="container">
                <h2 class="red_block">What they are saying</h2>
            <div class="row">
                <div class="col-xs-12 col-md-4 ">
                    <p>This place is definitely worth the drive . we were first greeted by the owner who is very nice and her staff is extremely attentive. also she took the time and introduced us to how everything is made and served. </p>
                    <p>Hdiddy F.,  <a href="#" class="red" >Yelp</a></p>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <p>Clean place, super nice, political owners (both Jeff and Isabella. Amazing food! Definitely come check it out. Great home cooking!</p>
                    <p><a href="#" class="red" >The Orlando Sentinel</a></p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p>Don't forget to try the desserts! The Cannoli and Sfogliatelli were out of this world. They weren't too sweet, and the flavors and textures were fantastic! Definitely tasted homemade. </p>
                    <p>Karen G.,  <a href="#" class="red" >Yelp</a></p>
                </div>
            </div>
        </div>    
            <p class="see_more">See even more reviews on <a href="#" class="red" >Yelp</a> or our <a href="#" class="red" >Media page</a></p>
        
    </section>    
    <!-- End -->
    
    <!-- Map Section Start Here -->
    <section class="map-container">
        <img src="assets/images/map.jpg" class="img-responsive"/>
    </section>    
    <!-- End -->

    
    <our-passion-block></our-passion-block>

    <footer-block></footer-block>
