p{
    font-size: 22px;
    line-height: 24px;
}

.about-us-description {
    padding: 45px 0;
}
.about-us-description p{
    text-align: center;
}

.description-item  {
    text-align: center;
    margin-top: 35px;
}
.description-item-background {
    background-color: #902e2d;
    min-height: 120px;
    padding: 8px 15px;
    margin-top: -2px;
}

h5{ 
    margin: 0;
    font-size: 43px;
    color: #fff;
    line-height: 50px;
}

.about-us-description .description{
    text-align: left;
    line-height: 30px;
    margin-top: 40px;
}
.about-us-description .description a {
    color: #333;
    text-decoration: underline;
}

.location-image {
    height: 430px;
    background-size: cover;
    background-position: center;
}
.location-image.left {
    background-image: url('/assets/images/left.jpg');
    margin-left: -30px;
}
.location-image.right {
    background-image: url('/assets/images/innerView.jpg');
    margin-right: -30px;
}

.background-wrapper {
    background: #902e2d;
    margin: -250px -50px 0px;
    min-height: 432px;
    padding: 280px 50px 0;
}

.location-text p {
    color: #fff;
    margin-bottom: 40px;
}
.location-text a {
    text-transform: uppercase;
    color: #f76e6e;
    text-decoration: underline;
}

section.new {
    background: #bd977a;
}

section.new p {
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 0;
    line-height: 60px;
}

section.founders {
    padding: 50px 0;
}
.quotation {
    font-style: italic;
    color: #902e2d;
    text-align: center;
    font-size: 26px;
}
.chef-photo {
    background: url('/assets/images/momjeff.jpg') center center no-repeat;
    background-size: cover;
    height: 500px;
    margin: 50px 15px 40px;
}

/*helpers*/
.text-left {
    text-align: left;
}