<hero-sub-page [subPageImage] = "headlineImage"></hero-sub-page>
<action-bar-block [isHomePage] = "false" [heading]="'About the Stoppe Family'"></action-bar-block>

<section class="about-us-description">
    <div class="container">
        <div class="row">
            <p>The Meatball Stoppe is really only about two things.</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="description-item">
                    <img src="/assets/images/eat.png" alt="image">
                    <div class="description-item-background">
                        <h5>Making incredible Italian food at a reasonable price</h5>
                    </div>
                </div>
            </div>
             <div class="col-xs-12 col-md-6">
                <div class="description-item">
                    <img src="/assets/images/family.png" alt="image">
                    <div class="description-item-background">
                        <h5>Reinforcing family principles every step of the way</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="description">We do this by inviting all guests, from any background, to come and enjoy a meal with us. We want to share with you our philosophy of life and our heritage of Italian cooking. <a href="#">Every single dish</a> is based on a recipe from our own family. Whether it is our Nonna’s own traditional meatball---every dish is a story. Ask us!</p>
            </div>
        </div>
    </div>
</section>
<section class="location">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="location-image left">

                </div>
            </div>
            <div class="col-md-7">
                <div class="location-image right"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="background-wrapper">
                <div class="col-xs-12 location-text">
                    <p>
                       Located in East Orlando, just 10 minutes from Downtown Orlando or the Central Florida Research Park via the 408. Exit the 408 at 551/S. Goldenrod Road and we’re right here. Call us if you get lost!  <a href="#">GOOGLE MAPS LINK</a> 
                    </p>
                    <p>
                        We’re open Mon-Wed (11am-9pm), Thurs-Sat (11am-10pm), and closed on Sundays. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    NEW! Private dining room available for rent for parties or engagements.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="founders">
    <div class="container">
        <div class="row">
            <p class="quotation">“It’s all about bringing your family back to the table. <br /> That’s where meaningful moments happen.” -Chef Isabella"</p>
        </div>
        <div class="row">
            <div class="chef-photo">

            </div>
            <div class="col-md-6">
                <p class="quotation text-left">
                    About Isabella
                </p>
                <p class="about-chef">
                    Isabella Morgia di Vicari is a first-generation American, born of Italian heritage in Brooklyn, NY, with a very large “famiglia” from Calabria and Trieste, Italia. Growing up in Orlando since 1970, raised in her family’s six restaurant businesses which they owned and operated, has taught Isabella many life lessons, including the wonderful culture of food.
                </p>
            </div>
             <div class="col-md-6">
                <p class="quotation text-left">
                    About Jeff
                </p>
                <p class="about-chef">
                    Jeff Morgia is CEO and Co-Owner of Isabella’s Bella Cucina and The Meatball Stoppe. Jeff has been in the food industry 30+ years. He spent 12 years with the Sheraton Corporation in several positions within the operations of many hotel locations after graduating from the University of Nevada at Las Vegas. After his tenure with Sheraton, J.....
                </p>
            </div>
        </div>
    </div>
</section>
<our-passion-block [title]="ourPassionTitle" [description]="ourPassionDescription" [imagePath]="ourPassionImg"></our-passion-block>