<hero-sub-page [subPageImage] = "headlineImage"></hero-sub-page>
<action-bar-block [isHomePage] = "false" [heading]="'About the Stoppe Family'"></action-bar-block>

<section class="about-us-description">
    <div class="container">
        <div class="row">
            <p>The Meatball Stoppe is really only about two things.</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="description-item">
                    <img src="/assets/images/eat.png" alt="image">
                    <div class="description-item-background">
                        <h5>Making incredible Italian food at a reasonable price</h5>
                    </div>
                </div>
            </div>
             <div class="col-xs-12 col-md-6">
                <div class="description-item">
                    <img src="/assets/images/family.png" alt="image">
                    <div class="description-item-background">
                        <h5>Reinforcing family principles every step of the way</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="description">We do this by inviting all guests, from any background, to come and enjoy a meal with us. We want to share with you our philosophy of life and our heritage of Italian cooking. <a href="#">Every single dish</a> is based on a recipe from our own family. Whether it is our Nonna’s own traditional meatball---every dish is a story. Ask us!</p>
            </div>
        </div>
    </div>
</section>
<section class="location">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="location-image left">

                </div>
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</section>