p{
    font-size: 22px;
    line-height: 24px;
}

.about-us-description {
    padding: 45px 0;
}
.about-us-description p{
    text-align: center;
}

.description-item  {
    text-align: center;
    margin-top: 35px;
}
.description-item-background {
    background-color: #902e2d;
    min-height: 120px;
    padding: 8px 15px;
    margin-top: -2px;
}

h5{
    margin: 0;
    font-size: 43px;
    color: #fff;
    line-height: 50px;
}

.about-us-description .description{
    text-align: left;
    line-height: 30px;
    margin-top: 40px;
}
.about-us-description .description a {
    color: #333;
    text-decoration: underline;
}

.location-image {
    height: 430px;
    background-size: cover;
    background-position: center;
}
.location-image.left {
    background-image: url('/assets/images/left.jpg');
    margin-left: -30px;
}
.location-image.right {
    background-image: url('/assets/images/innerView.jpg');
    margin-right: -30px;
}

.background-wrapper {
    background: #902e2d;
    margin: -250px -50px 0px;
    min-height: 432px;
    padding: 280px 50px 0;
}

.location-text p {
    color: #fff;
    margin-bottom: 40px;
}
.location-text a {
    text-transform: uppercase;
    color: #f76e6e;
    text-decoration: underline;
}

section.founders {
    padding: 50px 0;
}
.quotation {
    font-style: italic;
    color: #902e2d;
    text-align: center;
    font-size: 26px;
}
.chef-photo {
    background: url('/assets/images/momjeff.jpg') center center no-repeat;
    background-size: cover;
    height: 500px;
    margin: 50px 15px 40px;
}

/*helpers*/
.text-left {
    text-align: left;
}


.wrapper-foto {
    background-image: url(/assets/images/diningroom.jpg);
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-right: -30px;
    margin-left: -30px;
}

.feature-text p {
   color: white;
   padding: 50px;
   display: inline-block;
}

.feature-text a {
    text-decoration: none;
    color: #fff
}

.wrapper-bg {
    height: 250px;
    background-color: #bd977a;
    margin-right: -30px;
    margin-left: -30px;
}

@media only screen and (max-width: 768px) {
    .description-item {
        margin-top: 0;
        margin-bottom: 20px;
    }
    h5 {
        font-size: 35px;
        line-height: 37px;
    }
    .about-us-description .description {
        margin-top: 17px;
        text-align: justify;
    }
    .location-image.left, .location-image.right{
        margin: 0px;
        height: 200px;
    }
    .location-image.left {
      margin-bottom: 10px;
    }
    .background-wrapper {
        overflow: hidden;
        margin-top: -416px;
        margin-left: 0;
        margin-right: 0;
        padding: 430px 15px 0;;
    }
    section.founders {
        padding: 30px 0;
    }
    .quotation {
        font-size: 22px;
    }
    .chef-photo {
        margin: 25px 0 30px;
        height: 220px;
    }
    .about-chef {
        text-align: justify;
        font-size: 20px;
    }
    .feature-text p {
       padding: 40px;
    }
    .wrapper-bg {
        height:inherit;
    }
}
@media only screen and (min-width: 501px) {
    h5{
        font-size: 38px;
        line-height: 48px;
    }
}
