<hero-sub-page [subPageImage] = "headlineImage"></hero-sub-page>
<action-bar-block [isHomePage] = "false" [heading]="'Catering Options'"></action-bar-block>
<section class="catering-description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Oh, we love catering. And have done it for years. Easiest way is to give us a call. We’ll get a good handle on the vision for your event and deliver a custom menu and quote over to you in no time.</p>
            </div>
        </div>
    </div>
</section>
<section class="contact-chef">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sx-12 col-sm-12 col-md-6 col-md-offset-6">
                <h4>Contact Chef Issabella</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sx-12 col-sm-12 col-md-6">
                <div class="wrapper-foto">
                    
                </div>
            </div>
            <div class="col-sx-12 col-sm-12 col-md-6">
                <div class="wrapper-bg">
                    <div class="callback">
                        <p> (407) 267-6033<br>
                            <a href="mailto:isabella@themeatballstoppe.com">isabella@themeatballstoppe.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="corporate-options">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>Corporate options</span>
                <ul>
                    <li><p>Corporate or social catering including weddings, cocktail receptions, dinner parties, holiday parties.... and more. You name it, we do it.</p></li>
                    <li><p>Private Cooking Classes used for Corporate Team Building, Employee and Client Appreciation and many other celebrations. </p></li>
                    <li><p>Inspirational and motivational speaking appearances. </p></li>
                    <li><p>Premier Dining Experience with Chef Isabella in your home.</p></li>
                    <li><p>Personal Chef Services delivering 1-2 weeks of healthy, delicious meals.</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="feedbacks">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feedbacks-people">
                    <span>Terri B.<br>Orlando<br> &#9733;&#9733;&#9733;&#9733;&#9733;</span>
                    <p>Isabella is the best!  I have used her services for both professional and personal events.  Her food is spectacular, her service is impeccable, and she makes all of the guests feel as if they were in her home.  Isabella’s Bella Cucina is a family business and her husband, Jeff, is a great part of the team.  They are wonderful people who make you feel as if your event is the most important event in </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feedbacks-people">
                    <span>A B.<br>Gainsville<br> &#9733;&#9733;&#9733;&#9733;&#9733;</span>
                    <p>I run seminars for high level doctors to learn nutrition. My job is to teach them about the quality of food and the important role it plays in every day health. With that philosophy in mind, Isabella and her husband Jeff have provided me with the highest quality organic meals to meet my customers needs. I have continuously been given excellent feedback by these </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feedbacks-people">
                    <span>Robert B.<br>Orlando<br> &#9733;&#9733;&#9733;&#9733;&#9733;</span>
                    <p>Mary and I have enjoyed entertaining in our home for many years but wanted to have a ” very special” evening for the key management team I work with.  We asked Isabella to not only create wonderful food but also a wonderful experience which included a cooking demonstration.  Our 20 guests declared it a home run and Mary and I think it was the best party we ever had.  Oh  </p>
                </div>
            </div>
        </div>
    </div>
</section>
