<!-- Action Bar Section Start Here -->
    <section class="action-bar-container red_block">
        <div class="container">
            <div class="row" *ngIf="isHomePage;else title">
                <div class="col-xs-12 col-sm-6 col-md-3"><a href="http://eat24hrs.com/restaurants/order2/menu.php?id=71250" class="btn" target="_blank" rel="noopener">Pickup Order</a></div>
                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#" class="btn">Delivery Order</a></div>
                <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs hidden-sm"></div>
            </div>
        </div>
        <ng-template #title> 
            <h1 class="sub-page-title">{{heading}}</h1>
        </ng-template>
    </section>
    <!-- End -->
