<!-- Footer Start Here -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-6 col-md-2 ">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Menus</a></li>
                        <li><a href="#">Catering</a></li>
                        <li><a href="#" >About Us</a></li>
                        <li><a href="#" >Media</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 ">
                    <ul>
                        <li><a href="#">Phone Number</a></li>
                        <li><a href="#">Social</a></li>
                        <li><a href="#" >Pickup order w/ EAT24</a></li>
                        <li><a href="#" >Delivery order</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 last">
                    @ 2017 The Meatball Stoppe. All rights reserved.
                </div>
            </div>
        </div>
    </footer>

    <!-- End -->