header{padding-top:  45px;}
.logo{ position: absolute;margin-top: -30px;}
.navbar{margin-bottom: 0; border: none;}
.navbar-default{background-color: #fff;}
.navbar-default .navbar-nav>li>a{color: #000;font-size: 24px;}
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:focus,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li>a:hover{background: none; color:#902E2D; }
.navbar-right {    float: right!important;   margin-right: 0px;}
.head-block-shad{
    background: rgba(103,77,77,0.64);
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    line-height: 22px;
}
.head-block-shad .first{
  text-align: right;
}

.head-block-shad .first > a {
  color: white;
}
.head-block-shad .first > a:hover {
  color: #dbdbdb;
}
.head-block-shad .last{text-align: left;}
.navbar-toggle .icon-bar {
    display: block;
    width: 45px;
    height: 6px;
    border-radius: 1px;
    background-color: #fff;
}
.navbar-toggle{
    border:none;
    margin-top: 50px;
    margin-right: 25px;
    position: absolute;
}
.navbar-toggle:hover, .navbar-toggle:focus{
    background-color: transparent;
}

@media only screen and (max-width: 992px) {
    .logo{    margin-top: -10px;}
}

@media only screen and (max-width: 767px) {
    html { position: relative; }
	.head-block-shad .col-xs-12:first-child{padding-bottom: 5px;}
    .head-block-shad .col-xs-12{text-align: center;}
    header{padding-top: 0;}
    .navbar-default{background-color: #711518; position: static;}
    .navbar-default .navbar-collapse{
        padding-top: 25px !important;
        position: fixed;
        background: url(../../assets/images/mobile_menu.jpg) center top;
        background-size: cover;
        top: 0;
        bottom: 0;
        border: none;
        z-index: 1000;
        height: 100% !important;
        overflow: hidden;
        padding: 0;
        width: 0;
        text-transform: uppercase;
        text-align: right;
        box-shadow: 20px 0px 54px -4px rgba(0,0,0,1);
    }
    .navbar-toggle {
        margin-top: 30px;
    }
    .navbar-default .navbar-collapse ul {
        width: 247px;
        padding-right: 14px;
    }
    .navbar-default .icon-bar {
        margin-bottom: 6px;
        width: 40px;
    }
    .slideUp{
        animation: slideUp 0.3s ease;
        animation-fill-mode: forwards; 
    }
    .slideShow {
        animation: slide 0.3s ease;
        animation-fill-mode: forwards;
    }
    .navbar-default .navbar-collapse  .navbar-nav>li>a{color: #fff; font-size: 30px; line-height: 41px;}
    .navbar-default .navbar-collapse .col-xs-12{padding-bottom: 0;}
    .navbar-default .navbar-collapse .col-xs-12 .navbar-nav{float: none!important;}
    .navbar-default .navbar-collapse .col-xs-12.first .navbar-nav{margin-bottom: 0;}
    .navbar-default .navbar-collapse .col-xs-12.last .navbar-nav{margin-top: 0;}
    .small-logo-container{text-align: center;  margin: 9px auto;}
}

@keyframes slide {
    0%{width: 0;}
    100% {width: 247px;}
}
@keyframes slideUp {
    0%{width: 247px;}
    100% {width: 0px;}
}