.hero-container{
	height: 400px;
	background-size: cover;
	padding-right: 20%;
	background-color: #674c4d;
}
.hero-container{color: #fff; font-size: 30px;}
.hero-container .message-block{padding-top: 300px; text-align: right;}
.sign {font-size: 25px; font-style: italic;}
@media only screen and (max-width: 767px) {
	.hero-container {         font-size: 20px;   padding-right: 5%;}
	.sign {font-size: 18px; font-style: italic;}
}
@media only screen and (min-width: 1400px) {
	.hero-container .message-block {        padding-top: 280px;    }
	.hero-container {         font-size: 36px;         line-height: 35px;    }
	.sign {font-size: 30px; font-style: italic;}
}
