.our-passion-container{ background: #902E2D;}
.our-passion-content{padding: 50px 5% 40px 5%;}
.our-passion-content p{color:#fff;}
.bg-image {
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 1140px) {
    .our-passion-content{padding: 5px 5%;}
}
@media only screen and (max-width: 852px) {
    .our-passion-content{padding: 10px;}
 }

 @media only screen and (max-width: 767px) {
 	/*.our-passion-container .col-xs-12{padding-bottom: 0px;}*/
  .our-passion-content.col-xs-12{padding: 20px;}
 }
