<!-- Our Menu Section Start Here -->
    <section class="our-menu-container">
        <div class="our-menu-head"><h1>Our Menu</h1></div>
        <div class="container">
            <!-- Start Tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#choose-your-meatballs">Meatballs</a></li>
                <li><a data-toggle="tab" href="#choose-your-style">Style</a></li>
                <li><a data-toggle="tab" href="#choose-your-sauce">Sauce</a></li>
                <li><a data-toggle="tab" href="#famiglia-favorites">Famiglia Favorites</a></li>
                <li><a data-toggle="tab" href="#insalate-salads">Insalate - Salads</a></li>
                <li><a data-toggle="tab" href="#focaccia-your-way">Focaccia Your Way</a></li>
                <li><a data-toggle="tab" href="#a-la-carte-sides">A-La-Carte Sides</a></li>
                <li><a data-toggle="tab" href="#appetizers">Appetizers </a></li>
                <li><a data-toggle="tab" href="#signature-desserts">Signature Desserts</a></li>
            </ul>
            <!-- End Tabs -->
            <!-- Start Tabs Content -->
            <div class="tab-content">
                <!-- Start Choose your Meatballs -->
                <div id="choose-your-meatballs" class="tab-pane fade in active">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Nonna's Traditional</div>
                               
                            </div>
                            <p>Authentic traditional ball cooked in Roasted Tomato Sauce</p> 
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Sausage, Pepper and Onion</div>
                               
                            </div>
                            <p>Italian Sausage, Ball topped with White wine sauce, peppers and onion</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Jeffy's Sausage</div>
                               
                            </div>
                            <p>Italian Sausage Ball and you choose your sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Chicken Parmigiana</div>
                               
                            </div>
                            <p>Freshly ground chicken topped with Roasted Tomato and Mozzarella</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Chicken Marsala</div>
                               
                            </div>
                            <p>Freshly ground chicken topped with Marsala Mushroom Sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                             <div class="heading_block">
                               <div class="heading">Chicken Buffalo Bleu</div>
                               
                            </div>
                            <p>Freshly ground chicken topped with our Buffalo Sauce, and Bleu Cheese Crumbles</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Vegetarian</div>
                               
                            </div>
                            <p>Roasted Seasonal Vegetable ball</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Spicy</div>
                               
                            </div>
                            <p>Pork ball with Hot Cherry Peppers</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Mac and Cheese</div>
                               
                            </div>
                            <p>All beef ball, Orzo, Imported Cheese topped with Creamy Provolone Sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                             <div class="heading_block">
                               <div class="heading">Mediterranean</div>
                               
                            </div>
                            <p>Fresh Ground Lamb ball topped with our Tzatziki sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Jeffy's Crab Ball</div>
                               
                            </div>
                            <p>Fresh crab ball served with Red Pepper Roumalaude</p> 
                        </div>
                        
                    </div>
                </div>

                <!-- Start Choose your Style -->
                <div id="choose-your-style" class="tab-pane fade">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Meatballs on Top</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$10.95</div> 
                            </div>
                            
                            <p>3 meatballs, one style - served with Stoppe Salad and Focaccia</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Meatball Smash</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$8.95</div> 
                            </div>
                            <p>Served on Freshly baked Ciabatta Roll and Stoppe Salad</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Bucket of Balls</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$23.95</div> 
                            </div>
                            <p>13 Balls, One Style, include Sauce and Focaccia</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Meatball Flight</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$19.95</div> 
                            </div>
                            <p>5 Meatballs your choice, Creamy Polenta or White Bean Ragu, Beer, Wine, or soda and Cannoli</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Stoppe Trio</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$10.95</div> 
                            </div>
                            <p>3 Meatballs of your choice, Stoppe Salad and Focaccia</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Stoppe Steak and Cheese Smash</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$10.95</div> 
                            </div>
                            <p>Mac and Cheese Meatballs, roasted tomato sauce, peppers, onion, Provolone</p> 
                        </div>

                    </div>    
                </div>
                
                <!-- Start Choose your Sauce -->
                <div id="choose-your-sauce" class="tab-pane fade">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Roasted Tomato</div>
                               
                            </div>
                            <p>Our Famiglia's recipe infused with the freshest ingredients</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Peppers and Onions</div>
                               
                            </div>
                            <p>Peppers and onions in a white wine sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Creamy Provolone</div>
                               
                            </div>
                            <p>Imported cheese in a silky cheese sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Isabella's Signature Pesto</div>
                               
                            </div>
                            <p>No pine nuts</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Marsala Mushroom</div>
                               
                            </div>
                            <p>Mushrooms and seasonings in Marsala Wine</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Buffalo Bleu</div>
                               
                            </div>
                            <p>Buffalo sauce with Fresh Bleu Cheese Crumbles</p> 
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Spicy Pork</div>
                               
                            </div>
                            <p>Pork and hot cherry pepper sauce</p> 
                        </div>
                        
                    </div> 

                </div>
                
                <!-- Start Famiglia Favorites -->
                <div id="famiglia-favorites" class="tab-pane fade">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Fried Calamari</div>
                               
                            </div>
                            <p>Served with Roasted Tomato Hot Cherry Pepper Sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">The Romano Panino</div>
                               
                            </div>
                            <p>Salami, Mortadella, Ham and Provolone and Stoppe Red WIne Vinaigrette, served on Freshly baked Ciabatta roll</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Eggplant Panino</div>
                               
                            </div>
                            <p>Breaded Eggplant over arugula, topped with provolone, roasted red peppers, red onions, bakedin oven on Freshly baked Ciabatta roll drizzled with Pesto Mayo</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Eggplant Stack</div>
                               
                            </div>
                            <p>Three layers of breaded eggplant, imported cheese, fresh herbs and spices, topped with Roasted Tomato Sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Cheese Ravioli with 1 meatball</div>
                               
                            </div>
                            <p>Choose your sauce and meatball</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Gnocchi</div>
                               
                            </div>
                            <p>Choose your sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                             <div class="heading_block">
                               <div class="heading">Lasagna Bolognese Rollatini</div>
                               
                            </div>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Baked Ziti</div>
                               
                            </div>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Calabrese Pasta Fagioli</div>
                               
                            </div>
                            <p>Linguine with creamy cannelini beans, olive oil, garlic, fresh herbs and Romano Cheese</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Pasta Aglia Olio</div>
                               
                            </div>
                            <p>Penne or Linguine, olive oil, garlic, crush red pepper and hint of anchovie and Fresh Herbs</p> 
                        </div>
                    </div>    

                </div>
                
                <!-- Start Insalate - Salads -->
                <div id="insalate-salads" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Antipasto Salad</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$7.95</div>
                            </div>
                            <p>Meats, cheese, olives, vegetables and greens</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Caprese Salad</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$7.5</div>
                            </div>
                            <p>Mozzarella, Cherry Tomatoes tossed in Isabella's Signature Pesto over Greens</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Roasted Vegetable Salad - Vegan</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$7.5</div>
                            </div>
                            <p>Seasonal Roasted Vegetables topped with Stoppe's Red Wine Vinaigrette</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Stoppe Salad</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$7</div>
                            </div>
                            <p>Romaine, Arugula, topped with roasted corn, red onion, cherry tomato, Feta, Red wine Vinaigrette</p> 
                        </div>
                    </div>

                </div>
                
                <!-- Start Focaccia Your Way -->
                <div id="focaccia-your-way" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Focaccia with Meatballs</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$11.95</div>
                            </div>
                            <p>Topped with Roasted Tomato sauce, mozzarella, and your choice of  meatball</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Focaccia with Pesto</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$9.95</div>
                            </div>
                            <p>Topped with Pesto, Ricotta and Cherry Tomatoes</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Focaccia with Cheese</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$8.95</div>
                            </div>
                            <p>Topped with Roasted Tomato sauce, mozzarella</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Focaccia Grande</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$26.95</div>
                            </div>
                            <p>14 pieces - two toppings</p> 
                        </div>
                    </div>
                </div>

                <!-- Start A-La-Carte Sides -->
                <div id="a-la-carte-sides" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Creamy Polenta</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$6.25</div>
                            </div>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">White Bean Ragu</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$6.25</div>
                            </div>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Penne Pasta - GF Option</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$6.25</div>
                            </div>
                            <p>Choice of Sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Linguine</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$6.25</div>
                            </div>
                            <p>Choice of Sauce</p> 
                        </div>
                    </div>
                </div>

                <!-- Start Appetizers -->
                <div id="appetizers" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">5 Meatballs of your choice</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$8.95</div>
                            </div>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Baked Mozzarella</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$6.95</div>
                            </div>
                            <p>Mozzarella baked with Roasted TomatoSauce served with Crostini</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Fried Calamari</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$8.95</div>
                            </div>
                            <p>Served with Roasted Tomato Hot Cherry Pepper Sauce</p> 
                        </div>
                    </div>
                </div>

                <!-- Start Signature Desserts -->
                <div id="signature-desserts" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Mini Cannoli</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$2.5</div>
                            </div>
                            <p>Shell  filled with Sweet Ricotta Cream and Chocolate Bits</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Sfogliatelli</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$3.5</div>
                            </div>
                            <p>Flacky Italian Pastry filled with Lemon Ricotta served warm with powdered Sugar</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Affogato al Cafe'</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$6.5</div>
                            </div>
                            <p>Vanilla Bean Iceceam topped with Espresso and Biscotti</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Gelato di Limone</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$4.95</div>
                            </div>
                            <p>Lemon Gelato</p> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="heading_block">
                               <div class="heading">Biscotti</div>
                               <div class="heading_boder"></div>
                               <div class="heading_price">$3.95</div>
                            </div>
                            <p></p> 
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Tabs Content -->
        </div>
    </section>
    <!-- End -->