.our-passion-container{ background: #902E2D;}
.our-passion-content{padding: 50px 10% 40px 10%;}
.our-passion-content p{color:#fff;}
@media only screen and (max-width: 1140px) {
    .our-passion-content{padding: 0 5%;}
} 
