.our-menu-container{padding-bottom: 120px;}
.our-menu-head{
    text-align: center;
    margin-bottom: 25px;
    background: url(../../assets/images/our_menu.jpg) no-repeat center 0;
    background-size: auto 280px;
    height: 280px;
}
.our-menu-head > h1 {
  padding: 0px;
  line-height: 280px;
}
.our-menu-container .nav-tabs>li{margin-bottom: 0;}
.our-menu-container .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.a:hover{background: #fff; border: none;}
.our-menu-container .nav-tabs>li>a{color:#bbb;}
.our-menu-container .nav-tabs{    /*width: 50%;  */  margin: 0 auto 50px;}
.our-menu-container p{color: #999;}
.our-menu-container p.heading{ text-transform: uppercase; color: #000; font-weight: bold;}
.our-menu-container .tab-content .tab-pane .col-xs-12{ padding-bottom: 20px;}
.our-menu-container .nav-tabs>li.active {
       margin-bottom: -1px;
    border-bottom: 1px solid red;
    margin-top: 2px;

}
.our-menu-container .nav-tabs>li>a:hover,
.our-menu-container .nav-tabs>li.active a:hover,
.our-menu-container .nav-tabs>li.active a{background: none; border:1px solid transparent; color:#000;}
@media only screen and (max-width: 992px) {

    .our-menu-container .nav-tabs{/*width: 80%;*/}
}
 @media only screen and (max-width: 767px) {
 	.our-menu-container .nav-tabs{width: auto;}
 	.our-menu-head{
        background-size: auto 250px;
        height: 250px;
    }
  .our-menu-head > h1 {
    font-size: 5.5em;
    padding: 0px;
    line-height: 250px;
  }
 }
 @media only screen and (min-width: 1400px) {
 	.our-menu-container .nav-tabs{/*width: 60%;*/}
 	.our-menu-head{
        background-size: auto 350px;
        height: 350px;
    }
  .our-menu-head > h1 {
    padding: 0px;
    line-height: 350px;
  }
 }
