<!-- Our Menu Section Start Here -->
    <section class="our-menu-container">
        <div class="our-menu-head"><h1>Our Menu</h1></div>
        <div class="container">
            <!-- Start Tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#choose-your-meatballs">Meatballs</a></li>
                <li><a data-toggle="tab" href="#choose-your-style">Style</a></li>
                <li><a data-toggle="tab" href="#choose-your-sauce">Sauce</a></li>
                <li><a data-toggle="tab" href="#famiglia-favorites">Famiglia Favorites</a></li>
                <li><a data-toggle="tab" href="#insalate-salads">Insalate - Salads</a></li>
                <li><a data-toggle="tab" href="#focaccia-your-way">Focaccia Your Way</a></li>
                <li><a data-toggle="tab" href="#a-la-carte-sides">A-La-Carte Sides</a></li>
                <li><a data-toggle="tab" href="#appetizers">Appetizers </a></li>
                <li><a data-toggle="tab" href="#signature-desserts">Signature Desserts</a></li>
            </ul>
            <!-- End Tabs -->
            <!-- Start Tabs Content -->
            <div class="tab-content">
                <!-- Start Choose your Meatballs -->
                <div id="choose-your-meatballs" class="tab-pane fade in active">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Nonna's Traditional</p>
                            <p>Authentic traditional ball cooked in Roasted Tomato Sauce</p> 
                        </div>
                        
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Sausage, Pepper and Onion </p>
                            <p>Italian Sausage, Ball topped with White wine sauce, peppers and onion</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Jeffy's Sausage </p>
                            <p>Italian Sausage Ball and you choose your sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Chicken Parmigiana</p>
                            <p>Freshly ground chicken topped with Roasted Tomato and Mozzarella</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Chicken Marsala</p>
                            <p>Freshly ground chicken topped with Marsala Mushroom Sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Chicken Buffalo Bleu </p>
                            <p>Freshly ground chicken topped with our Buffalo Sauce, and Bleu Cheese Crumbles</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Vegetarian </p>
                            <p>Roasted Seasonal Vegetable ball</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Spicy </p>
                            <p>Pork ball with Hot Cherry Peppers</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Mac and Cheese</p>
                            <p>All beef ball, Orzo, Imported Cheese topped with Creamy Provolone Sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Mediterranean </p>
                            <p>Fresh Ground Lamb ball topped with our Tzatziki sauce</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Jeffy's Crab Ball</p>
                            <p>Fresh crab ball served with Red Pepper Roumalaude</p> 
                        </div>
                        
                    </div>
                </div>

                <!-- Start Choose your Style -->
                <div id="choose-your-style" class="tab-pane fade">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Meatballs on Top...$10.95 </p>
                            <p>3 meatballs, one style - served with Stoppe Salad and Focaccia</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Meatball Smash...$8.95 </p>
                            <p>Served on Freshly baked Ciabatta Roll and Stoppe Salad</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Bucket of Balls...$23.95 </p>
                            <p>13 Balls, One Style, include Sauce and Focaccia</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Meatball Flight...$19.95 </p>
                            <p>5 Meatballs your choice, Creamy Polenta or White Bean Ragu, Beer, Wine, or soda and Cannoli</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Stoppe Trio...$10.95 </p>
                            <p>3 Meatballs of your choice, Stoppe Salad and Focaccia</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Stoppe Steak and Cheese Smash...$10.95 </p>
                            <p>Mac and Cheese Meatballs, roasted tomato sauce, peppers, onion, Provolone</p> 
                        </div>

                    </div>    
                </div>
                
                <!-- Start Choose your Sauce -->
                <div id="choose-your-sauce" class="tab-pane fade">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Roasted Tomato </p>
                            <p>Our Famiglia's recipe infused with the freshest ingredients</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Peppers and Onions </p>
                            <p>Peppers and onions in a white wine sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Creamy Provolone </p>
                            <p>Imported cheese in a silky cheese sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Isabella's Signature Pesto </p>
                            <p>No pine nuts</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Marsala Mushroom  </p>
                            <p>Mushrooms and seasonings in Marsala Wine</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Buffalo Bleu </p>
                            <p>Buffalo sauce with Fresh Bleu Cheese Crumbles</p> 
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Spicy Pork</p>
                            <p>Pork and hot cherry pepper sauce</p> 
                        </div>
                        
                    </div> 

                </div>
                
                <!-- Start Famiglia Favorites -->
                <div id="famiglia-favorites" class="tab-pane fade">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Fried Calamari </p>
                            <p>Served with Roasted Tomato Hot Cherry Pepper Sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">The Romano Panino</p>
                            <p>Salami, Mortadella, Ham and Provolone and Stoppe Red WIne Vinaigrette, served on Freshly baked Ciabatta roll</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Eggplant Panino</p>
                            <p>Breaded Eggplant over arugula, topped with provolone, roasted red peppers, red onions, bakedin oven on Freshly baked Ciabatta roll drizzled with Pesto Mayo</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Eggplant Stack</p>
                            <p>Three layers of breaded eggplant, imported cheese, fresh herbs and spices, topped with Roasted Tomato Sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Cheese Ravioli with 1 meatball</p>
                            <p>Choose your sauce and meatball</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Gnocchi </p>
                            <p>Choose your sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Lasagna Bolognese Rollatini</p>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Baked Ziti </p>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Calabrese Pasta Fagioli</p>
                            <p>Linguine with creamy cannelini beans, olive oil, garlic, fresh herbs and Romano Cheese</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Pasta Aglia Olio</p>
                            <p>Penne or Linguine, olive oil, garlic, crush red pepper and hint of anchovie and Fresh Herbs</p> 
                        </div>
                    </div>    

                </div>
                
                <!-- Start Insalate - Salads -->
                <div id="insalate-salads" class="tab-pane fade">
                                        <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Antipasto Salad...$7.95 </p>
                            <p>Meats, cheese, olives, vegetables and greens</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Caprese Salad...$7.5 </p>
                            <p>Mozzarella, Cherry Tomatoes tossed in Isabella's Signature Pesto over Greens</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Roasted Vegetable Salad - Vegan...$7.5</p>
                            <p>Seasonal Roasted Vegetables topped with Stoppe's Red Wine Vinaigrette</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Stoppe Salad...$7 </p>
                            <p>Romaine, Arugula, topped with roasted corn, red onion, cherry tomato, Feta, Red wine Vinaigrette</p> 
                        </div>
                    </div>

                </div>
                
                <!-- Start Focaccia Your Way -->
                <div id="focaccia-your-way" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Focaccia with Meatballs...$11.95 </p>
                            <p>Topped with Roasted Tomato sauce, mozzarella, and your choice of  meatball</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Focaccia with Pesto...$9.95 </p>
                            <p>Topped with Pesto, Ricotta and Cherry Tomatoes</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Focaccia with Cheese...$8.95</p>
                            <p>Topped with Roasted Tomato sauce, mozzarella</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Focaccia Grande...$26.95 </p>
                            <p>14 pieces - two toppings</p> 
                        </div>
                    </div>
                </div>

                <!-- Start A-La-Carte Sides -->
                <div id="a-la-carte-sides" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Creamy Polenta...$6.25 </p>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">White Bean Ragu ...$6.25 </p>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Penne Pasta - GF Option...$6.25</p>
                            <p>Choice of Sauce</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Linguine...$6.25 </p>
                            <p>Choice of Sauce</p> 
                        </div>
                    </div>
                </div>

                <!-- Start Appetizers -->
                <div id="appetizers" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">5 Meatballs of your choice...$8.95 </p>
                            <p></p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Baked Mozzarella ...$6.95 </p>
                            <p>Mozzarella baked with Roasted TomatoSauce served with Crostini</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Fried Calamari...$8.95</p>
                            <p>Served with Roasted Tomato Hot Cherry Pepper Sauce</p> 
                        </div>
                    </div>
                </div>

                <!-- Start Signature Desserts -->
                <div id="signature-desserts" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Mini Cannoli...$2.5 </p>
                            <p>Shell  filled with Sweet Ricotta Cream and Chocolate Bits</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Sfogliatelli ...$3.5 </p>
                            <p>Flacky Italian Pastry filled with Lemon Ricotta served warm with powdered Sugar</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Affogato al Cafe'...$6.5</p>
                            <p>Vanilla Bean Iceceam topped with Espresso and Biscotti</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Gelato di Limone...$4.95</p>
                            <p>Lemon Gelato</p> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="heading">Biscotti...$3.95</p>
                            <p></p> 
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Tabs Content -->
        </div>
    </section>
    <!-- End -->