<!-- Our Passion Start Here -->
    <section class="our-passion-container">
        <div class="row">
            <div class="col-xs-12 col-sm-6  our-passion-content">
                <h2>Our Passion</h2>
                <p>Jeff and Isabella Morgia created The Meatball Stoppe concept with the desire to share their passion for family traditions, uniqueness, freshness all in a non-traditional Italian style. The Meatball Stoppe has been Awarded the "Best of the Best Meatballs" in Central Florida for 2016 and is a top 10 rated Orlando restaurant.</p>
            </div>
            <div class="col-xs-12 col-sm-6  p-0 ">
                <img src="assets/images/our_passion.jpg" class="img-responsive"/>
            </div>
        </div>
    </section>
    <!-- End -->
