<!-- Our Passion Start Here -->
    <section class="our-passion-container">
        <div class="row">
            <div class="col-xs-12 col-sm-6  our-passion-content">
                <h2>Our Passion</h2>
                <p>The Meatball Stoppe is the product of over 30+ years in the food industry. Isabella’s Bella Cucina has been in existence since 1992 here in Central Florida, by Isabella Morgia di Vicari. Jeff and Isabella Morgia, co-owners of Isabella’s Bella Cucina Catering, have served people from all walks of life throughout the years, and now this authentic cuisine is available to you!</p>
            </div>
            <div class="col-xs-12 col-sm-6  p-0 ">
                <img src="assets/images/our_passion.jpg" class="img-responsive"/>
            </div>
        </div>
    </section>
    <!-- End -->