<!-- Socail  Section Start Here -->
    <section class="social-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 social-block">
                    <p>Stay in the loop with what’s going on at the Stoppe! Latest social post:</p>
                    <h4>Connect with us!</h4>
                    <ul>
                        <li><a href="#"><img src="assets/images/facebook.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="assets/images/twitter.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="assets/images/instagram.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="assets/images/yelp.png" class="img-responsive"></a></li>
                    </ul>

                </div>
                <div class="col-xs-12 col-md-6 ">
                    <div class="ads-block">
                        <img src="assets/images/ads.jpg" class="img-responsive"/>
                        <div class="content-block">
                            <p class="title">7.95 Baked Ziti Wednesdavs Every Wednesday</p>
                            <p class="links"><a href="#" class="btn like"> Like</a> <a href="#"><img src="assets/images/social-facebook-square2.png"/></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>    
    <!-- End -->