.what-they-are-saying-container p.see_more{font-size: 24px; font-style: italic; text-align: center; padding: 20px 0;}
.what-they-are-saying-container .container{border: 5px solid #902E2D; padding: 30px 30px 40px;}
.what-they-are-saying-container h2{    
  margin-top: -70px;
  border: 20px solid #fff;
  width: 60%;
  margin: -86px auto 25px auto;
  padding: 2px 20px 8px;
  text-align: center;  
}
@media only screen and (max-width: 992px) {
  
    .what-they-are-saying-container h2{width: 75%;}
}
@media only screen and (max-width: 767px) {
    .what-they-are-saying-container h2{width: 100%;    margin: -75px auto 25px auto;}
    .what-they-are-saying-container p.see_more{font-size: 20px;}
}        