<!-- What they Are Saying Section Start Here -->
    <section class="what-they-are-saying-container">
        <div class="container">
                <h2 class="red_block">What they are saying</h2>
            <div class="row">
                <div class="col-xs-12 col-md-4 ">
                    <em><p>I can truly say that these were the best meatballs my family has ever eaten!! They were generous in size and full of flavor. </p></em>
                    <p>Tim Y., <a target="_blank" href="https://www.yelp.com/biz/the-meatball-stoppe-orlando-2?hrid=6Ix12jMVnw7kdrZi6dTtxw" class="red" >Yelp Elite</a></p>
                    <p>★★★★★</p>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <em><p>Together, they bring the best of both worlds, to serve an authentic Italian cuisine in a family-style dining experience.</p></em>
                    <p>Catherine Cipris, <a target="_blank" href="http://www.wesh.com/article/the-meatball-shoppe-home-of-non-traditional-traditional-italian-cuisine/4443066" class="red" >WESH 2 News</a></p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <em><p>Homemade meatballs are hard to come by. Meatballs are prepared to the highest quality of freshness at Meatball Stoppe.</p></em>
                    <p>Kha Duong,  <a target="_blank" href="http://tastychomps.com/2016/05/inside-look-at-the-meatball-stoppe.html" class="red" >Tasty Chomps</a></p>
                </div>
            </div>
        </div>
            <p class="see_more">See even more reviews on <a href="https://www.yelp.com/biz/the-meatball-stoppe-orlando-2" rel="noopener" class="red" target="_blank">Yelp (★★★★½ stars)</a> or our <a [routerLink] = "['/media']" class="red" >Media page</a></p>

    </section>
    <!-- End -->
