<!-- What they Are Saying Section Start Here -->
    <section class="what-they-are-saying-container">
        <div class="container">
                <h2 class="red_block">What they are saying</h2>
            <div class="row">
                <div class="col-xs-12 col-md-4 ">
                    <p>This place is definitely worth the drive . we were first greeted by the owner who is very nice and her staff is extremely attentive. also she took the time and introduced us to how everything is made and served. </p>
                    <p>Hdiddy F.,  <a href="#" class="red" >Yelp</a></p>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <p>Clean place, super nice, political owners (both Jeff and Isabella. Amazing food! Definitely come check it out. Great home cooking!</p>
                    <p><a href="#" class="red" >The Orlando Sentinel</a></p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p>Don't forget to try the desserts! The Cannoli and Sfogliatelli were out of this world. They weren't too sweet, and the flavors and textures were fantastic! Definitely tasted homemade. </p>
                    <p>Karen G.,  <a href="#" class="red" >Yelp</a></p>
                </div>
            </div>
        </div>
            <p class="see_more">See even more reviews on <a href="https://www.yelp.com/biz/the-meatball-stoppe-orlando-2" rel="noopener" class="red" target="_blank">Yelp (★★★★½ stars)</a> or our <a href="#" class="red" >Media page</a></p>

    </section>
    <!-- End -->
