<hero-sub-page [subPageImage]="headlineImage">></hero-sub-page>
<action-bar-block [isHomePage]="false" [heading]="'Our delicious menu'"></action-bar-block>
<section class="menu-description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Hand made like your Mamma and Nonna’s. All of our dishes are made with the highest quality meat and fresh ingredients. Also!
                    There are plenty of options for <span>vegan & glutten</span> free guests.
                    <!-- <a target="_blank" href="/assets/other/TMS-menu.pdf">Downloadable menu here.</a> -->
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 highlight">
                <p><strong>Happy Hour!</strong> Daily 3-6pm. $1 Meatballs (5 minimum, 1 style). Dine-in only.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 highlightO">
                <p><strong>Traditional Tuesday</strong>: Pasta with two Traditional Meatballs, Stoppe Salad, Focaccia and Signature Canoli: $8.95</p>
            </div>
        </div>
    </div>
</section>
<section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="menu-section">
                    <h4>Choose your Style</h4>
                    <ul class="menu-list">
                        <li>
                            <div class="name"> Meatballs on Top</div>
                            <div class="dot"></div>
                            <div class="price">$10.95</div>
                        </li>
                        <li>
                            <div class="name">Meatball Smash</div>
                            <div class="dot"></div>
                            <div class="price">$8.95</div>
                        </li>
                        <li>
                            <div class="name">Bucket of Balls</div>
                            <div class="dot"></div>
                            <div class="price">$23.95</div>
                        </li>
                        <li>
                            <div class="name">Meatball Flight</div>
                            <div class="dot"></div>
                            <div class="price">$19.95</div>
                        </li>
                        <li>
                            <div class="name">Stoppe Trio</div>
                            <div class="dot"></div>
                            <div class="price">$10.95</div>
                        </li>
                        <li>
                            <div class="name">Steak & Cheese Smash</div>
                            <div class="dot"></div>
                            <div class="price">$10.95</div>
                        </li>
                        <li>::</li>
                        <li>
                            <div class="name"><i>Crab and Guys's Vegetarian ball +$2.00</i></div>
                        </li>
                        <li>
                            <div class="name"><i>For Bucket: Crab +$8, Veg +$6</i></div>
                        </li>

                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Choose your Meatball</h4>
                    <ul class="menu-list">
                        <li>Nonna's Traditional</li>
                        <li>Sausage, Pepper and Onion</li>
                        <li>Jeffy's Sausage</li>
                        <li>Chicken Parmigiana</li>
                        <li>Chicken Marsala</li>
                        <li>Chicken Buffalo Bleu</li>
                        <li>Guy Fieri's Veggie Meatballs</li>
                        <li>Spicy </li>
                        <li>Mac and Cheese</li>
                        <li>Mediterranean </li>
                        <li>Jeffy's Crab Ball</li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Choose your Sauce</h4>
                    <ul class="menu-list">
                        <li>Roasted Tomato</li>
                        <li>Peppers and Onions</li>
                        <li>Creamy Provolone</li>
                        <li>Isabella's Signature Pesto</li>
                        <li>Marsala Mushroom</li>
                        <li>Buffalo Bleu</li>
                        <li>Spicy Pork</li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Famiglia favorites</h4>
                    <ul class="menu-list">
                        <li>Fried Calamari</li>
                        <li>The Romano Panino</li>
                        <li>Eggplant Panino</li>
                        <li>Eggplant Stack</li>
                        <li>Cheese Ravioli with 1 meatball</li>
                        <li>Gnocchi</li>
                        <li>Lasagna Bolognese Rollatini</li>
                        <li>Baked Ziti</li>
                        <li>Calabrese Pasta Fagioli</li>
                        <li>Pasta Aglia Olio</li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Appetizers</h4>
                    <ul class="menu-list">
                        <li>
                            <div class="name">5 Meatballs of your choice</div>
                            <div class="dot"></div>
                            <div class="price">$8.95</div>
                        </li>
                        <li>
                            <div class="name">Baked Mozzarella</div>
                            <div class="dot"></div>
                            <div class="price">$6.95</div>
                        </li>
                        <li>
                            <div class="name">Fried Calamari</div>
                            <div class="dot"></div>
                            <div class="price">$10.95</div>
                        </li>
                        <li>
                            <div class="name">Jeffy's Crab Ball</div>
                            <div class="dot"></div>
                            <div class="price">$10.95</div>
                        </li>
                        <li>
                            <div class="name"><i>+$2 for crab or veggie</i></div>
                        </li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Salads</h4>
                    <ul class="menu-list">
                        <li>
                            <div class="name">Antipasto Salad</div>
                            <div class="dot"></div>
                            <div class="price">$7.95</div>
                        </li>
                        <li>
                            <div class="name">Caprese Salad</div>
                            <div class="dot"></div>
                            <div class="price">$7.50</div>
                        </li>
                        <li>
                            <div class="name">Roasted Vegetable Salad</div>
                            <div class="dot"></div>
                            <div class="price">$7.50</div>
                        </li>
                        <li>
                            <div class="name">Stoppe Salad</div>
                            <div class="dot"></div>
                            <div class="price">$6.95</div>
                        </li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Focaccia your way</h4>
                    <ul class="menu-list">
                        <li>
                            <div class="name">Focaccia with Meatballs</div>
                            <div class="dot"></div>
                            <div class="price">$11.95</div>
                        </li>
                        <li>
                            <div class="name">Focaccia with Pesto</div>
                            <div class="dot"></div>
                            <div class="price">$9.95</div>
                        </li>
                        <li>
                            <div class="name">Focaccia with Cheese</div>
                            <div class="dot"></div>
                            <div class="price">$8.95</div>
                        </li>
                        <li>
                            <div class="name">Focaccia Grande</div>
                            <div class="dot"></div>
                            <div class="price">$26.95</div>
                        </li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Signature Desserts</h4>
                    <ul class="menu-list">
                        <li>
                            <div class="name">Mini Cannoli</div>
                            <div class="dot"></div>
                            <div class="price">$2.50</div>
                        </li>
                        <li>
                            <div class="name">Sfogliatelli</div>
                            <div class="dot"></div>
                            <div class="price">$3.50</div>
                        </li>
                        <li>
                            <div class="name">Affogato al Cafe</div>
                            <div class="dot"></div>
                            <div class="price">$6.50</div>
                        </li>
                        <li>
                            <div class="name">Gelato di Limone</div>
                            <div class="dot"></div>
                            <div class="price">$4.95</div>
                        </li>
                        <li>
                            <div class="name">Biscotti</div>
                            <div class="dot"></div>
                            <div class="price">$3.95</div>
                        </li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>Beverages</h4>
                    <ul class="menu-list">
                        <li>Imported, Craft and Domestic Beers</li>
                        <li>Wine :: chardonay, reiseling, cabernet, chianti, sangria</li>
                        <li>Cappucino, Espresso</li>
                        <li>Iced cappucino</li>
                        <li>Fountain Drinks</li>
                        <div class="menu-list-background"></div>
                    </ul>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <figure>
                    <img src="assets/images/buffalo-chick-1.jpg" alt="">
                    <figcaption>Buffalo Chicken Sandwich</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/pizza-2.jpg" alt="">
                    <figcaption>Meatball Pizza</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/Calamari-4.jpg" alt="">
                    <figcaption>Calamari</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/sausage-2.jpg" alt="">
                    <figcaption>Sausage Pepper & Onion Meatball</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/trio.jpg" alt="">
                    <figcaption>Meatball Trio</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/canoli.jpg" alt="">
                    <figcaption>Canoli</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/pasta.jpg" alt="">
                    <figcaption>Pasta Aglia e Olio</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/eggplant.jpg" alt="">
                    <figcaption>Eggplant Stack</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
