<hero-sub-page [subPageImage] = "headlineImage"></hero-sub-page>
<action-bar-block [isHomePage] = "false" [heading]="'Delivery Order'"></action-bar-block>
<section class="delivery-order">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="about">Do you live within a <span>7-8mile radius</span> of the Meatball Stoppe? We’ll come to you!</p>
                <p class="italic">If not, just <span><a href="http://eat24hrs.com/restaurants/order2/menu.php?id=71250" target="_blank" rel="noopener">go for a pickup</a></span>.</p>
                <p class="options">You have a few options:</p>
                <div class="button-uber button-underline">
                    <img src="/assets/images/uber.png"><br>
                    <a href ="https://www.ubereats.com/stores/c810eda3-c78d-436f-97d8-784dbcc637f5/" target="_blank"class="btn btn-info for-button btn-meatball">Go to Uber</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="bite-button button-underline">
                    <img src="/assets/images/bite.png"><br>
                    <a href ="http://www.bitesquad.com/food/the-meatball-stoppe/7457" target="_blank" class= "btn btn-success btn-meatball">Go to Bite Squad</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="amazon-button" style ="text-align: center;">
                    <img src="/assets/images/amazon.png"><br>
                    <a  class="btn btn-default btn-meatball disabled">Coming soon...</a>
                </div>
            </div>
        </div>
    </div>
</section>
