/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 767px) { 
    .navbar-collapse .menu-close {
        position: absolute;
        right: 7px;
        top: 10px;
        cursor: pointer;
        color: white;
        font-size: 20px;
        display: block !important;
        font-family: sans-serif;
        z-index: 100;
    }
    .navbar-collapse .menu-address {
        display: block !important;
        color: #FFF;
        text-transform: none;
        padding: 30px;
        padding-top: 12px;
        width: 247px;
    }
}
.navbar-collapse .menu-close, .navbar-collapse .menu-address {
    display: none;
}

.eclipse {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 600;
    background: rgba(0,0,0,0.4);
}