<!-- <div
  class="fb-post"
  [attr.data-href]="FBLink"
  data-width="500"
  data-show-text="false"></div> -->

<!-- <h3>{{ FBLink }}</h3> -->

<a [attr.href]="fbURL" target="_blank" rel="noopener">
  <div [style.background-image]="'url(' + fbImageURL + ')'" class="fb-photo">
    <div class="fb-photo-animation" *ngIf=showAnimation></div>
  </div>
  <div class="content-block">
      <p class="title">{{ fbMessage }}</p>
      <p class="links">
        <a [attr.href]="fbURL" class="btn like" target="_blank" rel="noopener"> Like</a>
        <a [attr.href]="fbURL" target="_blank" rel="noopener">
          <img src="assets/images/social-facebook-square2.png"/>
        </a>
      </p>
  </div>
</a>
