:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-block{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(255,255,255,0.85);
    line-height: 28px;
 }
 .content-block p.title{
   font-size: 20px;
   padding:20px 5% 0px;
   margin-bottom:0; }
 .content-block p.links{padding:10px; text-align: right;}
 .content-block p.links .btn.like{
    background: #eee url(../../assets/images/like.png) left -1px;
    padding-left: 33px;
    background-size: 35px auto;
    background-repeat: no-repeat;
 }
.fb-photo{
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  position: relative;
}
.fb-photo-animation {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -800px 0
    }
    100%{
        background-position: 800px 0
    }
}
